* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
body {
	font-size.5px;
	font-family: 'Noticia Text', Georgia, serif;
	color: #333;
	line-height: 160%;
	padding: 1rem;
	border-top: 1rem solid #333;
	border-bottom: 1rem solid #333;
}
a, a:visited {
	color: #39b7da;
	text-decoration: none;
}
h1 {
	font-weight: bold;
	font-size: 2.8rem;
	margin-bottom: 1.1rem;
	line-height: 2.5rem
}
h2 {
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-bottom: 1.5rem;
}
h2:after {
	content: "";
	height: 1px;
	width: 100%;
	display: block;
	margin-top: 1.2rem;
	margin-bottom: 2.5rem;
	border-bottom: 1px solid #ccc;
}
h3 {
	font-size: 1.5rem;
	color: #db4a39;
	margin-bottom: 1rem;
}
h4 {
	color: #db4a39;
	font-weight: bold;
}
p, blockquote, figure {
	margin-bottom: 1.4rem;
}
.sidebar {
	font-size: .85rem;
	line-height: 1.1rem;
}
.sidebar img {
	margin-right: 10px;
}
.highlight {
	font-weight: bold;
}
blockquote {
	border-left: 5px solid #ccc;
	padding-left: 1rem;
	color: #878787;
	font-style: italic;
}
blockquote footer {
	font-style: normal;
}


.wrapper {
	max-width: 650px;
	margin: 30px auto 0 auto;
	overflow: show;
}
img {
	float: left;
}
.avatar {
	margin-left: -60px;
	margin-top: -5px;
}
figure {
	overflow: auto;
}
figure img {
	width: 100%;
}