* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
body {
	font-size: 19px;
	font-family: 'Noticia Text', Georgia, serif;
	color: #333;
	line-height: 150%;
	padding: 1rem;
	border-top: 1rem solid #f76327;
	border-bottom: 1rem solid #f76327;
}
a, a:visited {
	color: #3287c1;
	text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-family: 'PT Sans', sans-serif;
}
h1 {
	font-weight: bold;
	font-size: 3.2rem;
	margin-bottom: 1rem;
	line-height: 3rem;
}
h2 {
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-bottom: 2.5rem;
}
h3:after {
	content: "";
	height: 1px;
	width: 100%;
	display: block;
	margin-top: .2rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}
h3 {
	color: #f76327;
	margin-bottom: .5rem;
}
h4 {
	color: #f76327;
	font-weight: bold;
}
p, blockquote, figure {
	margin-bottom: 1.6rem;
	overflow: auto;
}
.sidebar {
	font-size: .85rem;
	line-height: 1.1rem;
}
.sidebar img {
	margin-right: 10px;
}
.highlight {
	font-weight: bold;
}
blockquote {
	border-left: 5px solid #ccc;
	padding-left: 1rem;
	color: #878787;
	font-style: italic;
}
blockquote footer {
	font-style: normal;
}

.avatar {
	float: right;
}
img.avatar {
	width: 150px;
	margin-left: 1rem;
	margin-top: -8px;
}
.wrapper {
	max-width: 700px;
	margin: 30px auto 0 auto;
	overflow: show;
}
img {
	float: left;
}

figure {
	overflow: auto;
}
figure img {
	width: 100%;
}
.fancy-wrap, figure {
	width: 110%;
	margin-left: -5%;
}
.fancybox img {
	width: 23%;
	margin: 0 1%;
	border: 2px solid #eee;
}